@use "../variables/text-variables";
@use "../variables/color-variables";

.section-header {
  font-weight: 400;
  margin: 0 0 1rem;

  &__title {
    font-family: text-variables.$headings-typography;
    margin-top: 5rem;
    padding-bottom: 1.25rem;
    font-size: 2.5rem;
    border-bottom: 3px solid color-variables.$primary-color;
  }

  &__description {
    font-size: 1.125rem;
  }
}
