@use "variables/text-variables";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

  > :nth-child(n) {
    min-width: 20rem;
    padding: 0 1rem;
  }
}

h1 {
  display: none;
}

h2 {
  font-family: text-variables.$headings-typography;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 1rem;

  & ~ span {
    font-family: text-variables.$content-typography;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
